<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>{{athlete.username}}</p>
    <p>{{athlete.firstname}}</p>
    <p>{{athlete.lastname}}</p>
    <p>{{athlete.date_preference}}</p>
    {{> footer}}
  </body>
</html>
